:root {
    --verydark: #171717;
    --verylight: #ffffff;
    --dark: #222222;
    --light: #f2f2f2;
    --gray: #8A8A8A;
    --transparentGray: rgba(128, 128, 128, 0.469);
    --gap: 16px;
}

body {
    overflow-x: hidden;
}

.contained {
    max-width: 1800px;
    margin: auto;
}

.lightMode {
    --verydark: #ffffff;
    --verylight: #171717;
    --dark: #f2f2f2;
    --light: #222222;
    --gray: #343434;
    --transparentGray: rgb(217, 217, 217);
}

.colorModeToggle {
    width: 32px;
    height: 32px;
    border-radius: 100rem;
    background-color: var(--light);
    z-index: 11111;
    cursor: pointer;
}

.material-symbols-outlined {
    font-size: 22px;
}

.material-symbols-outlined {
    font-variation-settings:
        'FILL'0,
        'wght'400,
        'GRAD'0,
        'opsz'24;
    color: var(--gray);
}

a,
h1,
h2,
h3,
h4,
h5,
h6,
p,
li,
.chip,
.webchip {
    font-family: sans-serif;
}

body {
    background-color: var(--verydark);
}

.active {
    background-color: var(--light) !important;
    color: var(--dark) !important;
}

.active .material-symbols-outlined {
    color: var(--dark);
}

.flexbox,
ul {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.border {
    border: 1px solid var(--transparentGray);
}

.nav {
    position: absolute;
    z-index: 2;
    max-width: 1800px;
    margin: auto;
    left: 32px;
    right: 32px;
    top: -128px;
    padding: 16px;
    border-radius: 100rem;
    margin-top: 16px;
    overflow: hidden;
    box-sizing: border-box;
    background-color: var(--dark);
    transition: top 1s ease;
}

.logo {
    height: 28px;
    mix-blend-mode: difference;
}

.nav li {
    color: var(--gray);
    cursor: pointer;
}

.navSearch {
    max-width: 1800px;
    box-sizing: border-box;
    margin: auto;
    left: 32px;
    right: 32px;
    position: absolute;
    bottom: 32px;
    z-index: 5;
}

.searchBar {
    padding-left: 32px;
    padding-right: 32px;
    padding-top: 16px;
    padding-bottom: 16px;
    border-radius: 100rem;
    font-size: 20px;
    font-weight: 400;
    background-color: var(--dark);
    color: var(--verylight);
}

#searchIcon {
    cursor: pointer;
}

.searchBar .flexbox {
    gap: 24px;
}

input[type=text] {
    width: 360px;
    box-sizing: border-box;
    background-color: var(--dark);
    border: none;
    color: var(--gray);
    font-size: 18px;
}

input[type=text]:focus {
    color: var(--light);
    outline: none;
    /* Remove default outline */
}

.divider {
    width: 1px;
    height: 24px;
    background-color: var(--light);
}

.chip,
.webchip,
.navitems li,
.signup li {
    padding-left: 18px;
    padding-right: 18px;
    padding-top: 8px;
    padding-bottom: 8px;
    border-radius: 100rem;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 14px;
    font-weight: 400;
    text-wrap: nowrap;
}

.chip:hover,
.navitems li:hover,
.signup li:hover {
    background-color: var(--light);
    color: var(--dark);
}

.chips {
    margin-bottom: 64px;
}

.chips h2 {
    font-size: 32px;
    color: var(--light);
    padding-right: 32px;
}

.chip {
    color: var(--verylight);
    border: 1px solid var(--gray);
    cursor: pointer;
    background-color: var(--dark);
}

.timelineNav {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    padding: 32px;
    height: 32px;
    max-width: 1800px;
    margin: auto;
    z-index: 5;
}

.stackedCards {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    z-index: 1;
    overflow: hidden;
}

.stacked-div {
    position: absolute;
    height: 400px;
    background-color: rgb(25, 25, 25);
    transition: bottom 0.5s ease; /* Smooth transition */
    box-shadow: 0 19px 38px rgba(0,0,0,0.30), 0 15px 12px rgba(0,0,0,0.22);
}

.stacked-div:nth-child(1){
    background: url('yahoo2024.png');
    background-repeat: no-repeat;
    background-size: cover;
}

.stacked-div:nth-child(2){
    background: url('yahoo2021.png');
    background-repeat: no-repeat;
    background-size: cover;
}

.stacked-div:nth-child(3){
    background: url('yahoo2012.png');
    background-repeat: no-repeat;
    background-size: cover;
}

.stacked-div:nth-child(4){
    background: url('yahoo2005.png');
    background-repeat: no-repeat;
    background-size: cover;
}

.stacked-div:nth-child(5){
    background: url('Yahoo1999.png');
    background-repeat: no-repeat;
    background-size: cover;
}

.stacked-div:hover {
    bottom: calc(var(--bottom-position) + 20vh); /* Pop up on hover */
    transition: 1s ease; /* Smooth transition */
}

.exploreTimeLine {
    opacity: 1;
    transition: opacity 0.5s ease-out;
}

.etwAAnimation {
    opacity: 0;
    transition: opacity 0.5s ease-in;
}

.etwAAnimation.visible {
    opacity: 1;
}

.nav {
    position: absolute;
    /* or fixed/absolute depending on your layout */
    top: -128px;
    /* Initial value before the button is clicked */
    transition: top 0.5s ease-in-out;
    /* Add transition for smooth movement */
}

#timelineChips {
    opacity: 1;
    transition: opacity 0.5s ease-out;
}

.hidden {
    display: none;
}

.exit {
    background-color: var(--light);
    border: none;
    height: 48px;
    width: 48px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 100rem;
    cursor: pointer;
    border: 1px solid var(--light);
}

.exit:hover {
    background-color: var(--verydark);
}

.light {
    background-color: var(--light);
    color: var(--dark);
    cursor: pointer;
}

.dark {
    background-color: var(--dark);
    color: var(--light);
    cursor: pointer;
}

.flexGrid {
    display: grid;
    width: 100%;
    height: 100%;
    column-gap: 64px;
    row-gap: 64px;
    grid-template-columns: repeat(3, minmax(0, 1fr));
    grid-template-rows: repeat(2, minmax(0, 1fr));
}

.cards {
    position: relative;
    background-color: #000000;
    width: 100%;
    height: 100%;
    rotate: 0deg;
    transition: rotate 0.4s ease;
    border: 1px solid var(--transparentGray);
}

.line {
    background-color: var(--transparentGray);
    height: 1px;
    width: 100%;
    margin-top: 232px;
    margin-bottom: 232px;
}

.bar {
    background-color: var(--light);
    width: 2px;
    height: 32px;
    margin-right: 32px;
    margin-left: 32px;
}

.cards:hover {
    transition: 0.4s ease;
    rotate: 2deg;
}

.imgBG {
    width: 100%;
    height: 100%;
    object-fit: cover;
    transition: opacity 0.2s ease;
}


.imgBG:hover {
    transition: opacity 0.2s ease;
    cursor: pointer;
}

.cards .flexbox {
    position: absolute;
    bottom: 16px;
    left: 16px;
    right: 16px;
    z-index: 2;
}

.cards h1 {
    font-size: 2.2vw;
    line-height: 2.2vw;
    font-weight: 700;
    position: absolute;
    left: 16px;
    bottom: 16px;
    color: var(--light);
}

.globe {
    position: absolute;
    right: -100px;
    top: -100px;
    width: 380px;
    height: 380px;
    rotate: -30deg;
}

.earth {
    position: absolute;
    right: -100px;
    top: -100px;
    width: 380px;
    height: 380px;
}

.navitems li:hover .material-symbols-outlined {
    color: var(--dark);
}

.WebExplore {
    background-color: var(--dark);
    padding: 32px;
}

.timeLine {
    position: relative;
    height: 90vh;
    width: 100%;
    top: 0;
    transition: height 1s ease;
    display: flex;
    justify-content: center;
    align-items: center;
}

.timeLine h1 {
    color: var(--light);
    font-size: 4vw;
    font-family: sans-serif;
}

.carousel {
    position: relative;
    display: flex;
    justify-content: center;
    height: 16vw;
    width: 32vw;
    perspective: 1000px;
}

.carousel-card {
    position: absolute;
    width: 32vw;
    height: 16vw;
    background-color: var(--verydark);
    border: 6px solid var(--gray);
    color: var(--light);
    display: flex;
    justify-content: center;
    align-items: center;
    transition: transform 1s, z-index 1s;
    font-size: 4vw;
    font-family: sans-serif;
}

.carousel-card:nth-child(1) {
    transform: translateY(-9vh) scale(0.8);
    /* Adjust translateY value */
}

.carousel-card:nth-child(2) {
    transform: translateY(-12.5vh) scale(0.9);
    /* Adjust translateY value */
}

.carousel-card:nth-child(3) {
    transform: translateY(0) scale(1);
}

.carousel-card:nth-child(4) {
    transform: translateY(12.5vh) scale(0.9);
    /* Adjust translateY value */
}

.carousel-card:nth-child(5) {
    transform: translateY(9vh) scale(0.8);
    /* Adjust translateY value */
}

.discover {
    margin-top: 164px;
    margin-bottom: 64px;
    color: var(--light);
}

.discover h1 {
    font-family: sans-serif;
    font-size: 4.2vw;
    color: var(--light);
}

.group .flexbox {
    gap: 24px;
}

.loadMore {
    background-color: var(--light);
    color: var(--dark);
    padding: 16px;
    padding-left: 32px;
    padding-right: 32px;
    margin: auto;
    margin-top: 64px;
    margin-bottom: 64px;
    border-radius: 100rem;
    font-family: sans-serif;
    width: fit-content;
    text-transform: uppercase;
    font-weight: 500;
}


@media (max-width: 1400px) {
    .flexGrid {
        grid-template-columns: repeat(3, minmax(0, 1fr));
        grid-template-rows: repeat(3, minmax(0, 1fr));
    }
}

@media (max-width: 960px) {
    .flexGrid {
        grid-template-columns: repeat(2, minmax(0, 1fr));
        grid-template-rows: repeat(2, minmax(0, 1fr));
    }
}

@media (max-width: 600px) {
    body {
        overflow-x: hidden;
    }

    .flexGrid {
        grid-template-columns: repeat(1, minmax(0, 1fr));
        grid-template-rows: repeat(2, minmax(0, 1fr));
    }

    input[type=text] {
        width: 100%;
    }

    .colorModeToggle {
        display: none;
    }

    .searchBar {
        width: 100%;
    }

    .navSearch {
        left: 32px;
        right: 32px
    }
}